<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{ title }}</title>
    <!--Headline in tab-->
</head>

<body>
    <h1>{{ title }}</h1>
    <!---Headline on webpage-->
    <ul>
        {% for row in rows %}
        <li>
            <a href="/chosenConcert?concertID={{ row[0] }}">{{ row[1] }}</a> i {{ row[5] }} <br /> 
            Klokken: {{ row[6] }} Varighed: {{ row[9] }} {{ row[10] }} <img src="{path}" /> <!--Her skal vi sætte billedet ind-->
            <!-- Links to row: Concert, venue, time, price, type of seating-->
        </li>
        {% endfor %}
    </ul>
</body>

<script>
</script>

</html>
