<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{ title }}</title>
    <link rel="stylesheet" href="{{url_for('static',filename = 'style.css')}}">
    <!--Headline in tab-->
</head>

<body>
    <h1>Tilgængelige Koncerter</h1>
    {% for row in rows %}
    <h2><a href="/chosenConcert?concertID={{ row[0] }}">{{ row[1] }}</a></h2>
    <!---Headline on webpage-->
    <ul>
        <li>
            Koncert i {{ row[5] }} <br /> 
            Koncerten starter klokken: {{ row[7] }} Varighed: {{ row[9] }} timer<br /> 
            Pris pr. billet: {{ row[11] }} <br /> 
            {{ row[10] }} <img src="{{url_for('static',filename = 'concert_images/'+row[15])}}" /> <!--Her skal vi sætte billedet ind-->
            <!-- Links to row: Concert, venue, time, price, type of seating-->
        </li>
        {% endfor %}
    </ul>
</body>

<script>
</script>

</html>
